{% extends 'home/base.html' %}

{% block content %}
<!-- <center>
<a href="{% url 'addpres'%}"><button>Add Prescription</button></a>
</center>
{% for pre in pre %}
<div style="margin-left: 20%;width: 60%;padding: 10px;">
    <h2>Date : {{ pre.date|date:"F d Y" }}</h2>
    <b>Patient Name : </b>{{ pre.patient }}<br><br>
    
<b>Disease : </b>{{ pre.disease }}<br><br>
<b>Prescription : </b>{{ pre.prescription }}<br><br>
</div>    
{% endfor %} -->

<div class="flex flex-col">
    <div class="overflow-x-auto sm:-mx-6 lg:-mx-8">
      <div class="py-4 inline-block min-w-full sm:px-6 lg:px-8">
        <div class="overflow-hidden">
          <table class="min-w-full text-center">
            <thead class="border-b bg-gray-800">
              <tr>
                <th scope="col" class="text-sm font-medium text-white px-6 py-4">
                  Date
                </th>
                <th scope="col" class="text-sm font-medium text-white px-6 py-4">
                  Patient Name
                </th>
                <th scope="col" class="text-sm font-medium text-white px-6 py-4">
                  Disease
                </th>
                <th scope="col" class="text-sm font-medium text-white px-6 py-4">
                  Prescription
                </th>
              </tr>
            </thead class="border-b">
            <tbody>
               {% for pre in pre %} 
              <tr class="bg-white border-b">
                <td class="px-6 py-4 whitespace-nowrap text-sm font-medium text-gray-900">
                    {{ pre.date|date:"F d Y" }}
                </td>
                <td class="text-sm text-gray-900 font-light px-6 py-4 whitespace-nowrap">
                    {{ pre.patient }}
                </td>
                <td class="text-sm text-gray-900 font-light px-6 py-4 whitespace-nowrap">
                    {{ pre.disease }}
                </td>
                <td class="text-sm text-gray-900 font-light px-6 py-4 whitespace-nowrap">
                    {{ pre.prescription }}
                </td>
              </tr class="bg-white border-b">
              {% endfor %}
    
            </tbody>
          </table>
        </div>
      </div>
    </div>
    
<button class="bg-blue-500 hover:bg-blue-700 text-white font-bold py-2 px-4 border border-blue-700 rounded">
    <a href="{% url 'addpres'%}">
        Add Prescription
    </a>
   
  </button>
  </div>

{% endblock %}
